{% extends 'base.html.twig' %}

{% block title %}Редактировать карточку автора{% endblock %}

{% block body %}
    <h1>Редактировать карточку автора</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Обновить', 'style': 'background-color: #2E8B57; color: white;'}) }}
    {{ include('author/_delete_form.html.twig') }}
    <button onclick="window.location.href='{{ path('app_author_index') }}'">К списку авторов</button>
{% endblock %}
