{% extends 'base.html.twig' %}

{% block title %}Новый автор{% endblock %}

{% block body %}
    <h1>Новый автор</h1>  

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">К списку авторов</a>
{% endblock %}
