{% extends 'base.html.twig' %}

{% block title %}Добавить новую книгу{% endblock %}

{% block body %}
    <h1>Добавить новую книгу</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="button" id="add-author">Добавить автора</button>
        <button class="btn">Сохранить</button>
    {{ form_end(form) }}

    <a href="{{ path('app_book_index') }}">К списку книг</a>

    <script>
        document.getElementById('add-author').addEventListener('click', function() {
        });
    </script>
{% endblock %}
