{% extends 'base.html.twig' %}

{% block title %}Добавить новую книгу{% endblock %}

{% block body %}
    <h1>Добавить новую книгу</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn" style="background-color: #2E8B57; color: white;">Сохранить</button>
    {{ form_end(form) }}


    <script>
        document.getElementById('add-author').addEventListener('click', function() {
        });
    </script>
    <button onclick="window.location.href='{{ path('app_book_index') }}'">К списку книг</button>
{% endblock %}
